basic_auth_users:
    {{mysql_exporter_basic_auth_user}}: {{mysql_exporter_basic_auth_password | string | password_hash('bcrypt', ('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890' | shuffle(seed=inventory_hostname) | join)[:22], rounds=9) }}